{% extends 'base.html.twig' %}

{% block title %}New FullEmptyCarBill{% endblock %}

{% block body %}
    <h1>Create new FullEmptyCarBill</h1>

    {{ include('full_empty_car_bill/_form.html.twig') }}

    <a href="{{ path('full_empty_car_bill_index') }}">back to list</a>
{% endblock %}