{% extends 'base.html.twig' %}

{% block title %}New CarCardAndWaybill{% endblock %}

{% block body %}
    <h1>Create new CarCardAndWaybill</h1>

    {{ include('car_card_and_waybill/_form.html.twig') }}

    <a href="{{ path('car_card_and_waybill_index') }}">back to list</a>
{% endblock %}