<form method="post" action="{{ path('empty_car_bill_delete', {'id': empty_car_bill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empty_car_bill.id) }}">
    <button class="btn">Delete</button>
</form>