<html>
<head>
    <style>
        /* http://meyerweb.com/eric/tools/css/reset/
         * v2.0 | 20110126
         * License: none (public domain)
        */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
    <style>
        div {
            /*border: 1px solid black;*/
            /*position: fixed;*/
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
        }
    </style>
    <style>
        @font-face {
            font-family: 'MomsTypewriterRegular';
            src: url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.woff2') format('woff2'),
                 url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.woff') format('woff'),
                 url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <style>
        .field_data {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 8pt;
            padding: 4px 6px;
            font-family: "MomsTypewriterRegular";
        }
    </style>
</head>
<body>
{% for page in 0..(forms|length / (constant('App\\Paperwork\\Page\\Label::ROWS') * constant('App\\Paperwork\\Page\\Label::COLUMNS')))|round(0, 'floor') %}
<div style="position:relative; width: 8.5in; height: 11in; padding: .25in .5in .25in .5in;">
    <div style="position: relative; width: 100%; height: 100%">
        {% set left = 0 %}
        {% for column in 0..constant('App\\Paperwork\\Page\\Label::COLUMNS')-1 %}
            {% set top = 0 %}

            {% for row in 0..constant('App\\Paperwork\\Page\\Label::ROWS')-1 %}
                {% if forms[page * (constant('App\\Paperwork\\Page\\Label::ROWS') * constant('App\\Paperwork\\Page\\Label::COLUMNS'))
                    + (row + column * constant('App\\Paperwork\\Page\\Label::ROWS'))] is defined %}
                    <div style="
                            top: {{ row / constant('App\\Paperwork\\Page\\Label::ROWS') * 100 }}%;
                            left: {{ column * (constant('App\\Paperwork\\Form\\CarCardForm::WIDTH') + constant('App\\Paperwork\\Page\\Label::COLUMN_BUFFER'))
                    / (constant('App\\Paperwork\\Page\\Label::WIDTH') - 2 * constant('App\\Paperwork\\Page\\Label::MARGIN_SIDE'))
                    * 100 }}%;
                            height: {{ 1 / constant('App\\Paperwork\\Page\\Label::ROWS') * 100 }}%;
                            width: {{ constant('App\\Paperwork\\Form\\CarCardForm::WIDTH') / (constant('App\\Paperwork\\Page\\Label::WIDTH') - 2 * constant('App\\Paperwork\\Page\\Label::MARGIN_SIDE')) * 100 }}%;
                            position: absolute;
                            ">
                        {% include 'form/car_card/_item.html.twig' with {
                            'form': forms[
                                page * (constant('App\\Paperwork\\Page\\Label::ROWS') * constant('App\\Paperwork\\Page\\Label::COLUMNS'))
                                + (row + column * constant('App\\Paperwork\\Page\\Label::ROWS'))
                            ] }%}
                    </div>
                {% endif %}

                {% set top = top + constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') %}
            {% endfor %}

            {% set left = left + constant('App\\Paperwork\\Form\\BaseForm::WIDTH') %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</body>
</html>