<form method="post" action="{{ path('legacy_industry_delete', {'id': legacy_industry.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ legacy_industry.id) }}">
    <button class="btn">Delete</button>
</form>