{% extends 'base.html.twig' %}

{% block title %}LegacyIndustry index{% endblock %}

{% block body %}
    <h1>LegacyIndustry index</h1>

    <div id="legacy-industry-list">
        <v-server-table url="{{ path('legacy_industry_api_list') }}" :columns="columns" :options="options">
            <div slot="actions" slot-scope="props" >
                <a class="" :href="props.row.id" target="_blank">V</a>
            </div>
        </v-server-table>
    </div>

    <a href="{{ path('legacy_industry_new') }}">Create new</a>
{% endblock %}

{% block stylesheets %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-tables-2@1.4.31/compiled/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-tables-2@1.4.31/dist/vue-tables-2.min.js"></script>
    <script>
        Vue.use(VueTables.ServerTable, {}, false, 'bulma');
    </script>
{% endblock %}

{% block javascripts %}
    <script>
        new Vue({
            el: "#legacy-industry-list",
            data: {
                columns: [
                    // 'id',
                    'era', 'name', 'city', 'state', 'reportingMarks', 'shipReceive', 'commodity',
                    // 'stcc', 'reciprocal',
                    // 'source', 'externalSource'
                    'actions',
                ],
                options: {
                    filterByColumn: false,
                    headings: {
                        id: 'ID',
                        era: 'Era',
                        name: 'Company',
                        city: 'City',
                        state: 'State',
                        reportingMarks: 'Railroad',
                        shipReceive: 'S/R',
                        commodity: 'Commodity',
                        stcc: 'STCC',
                        reciprocal: 'Reciprocal',
                        source: 'Source',
                        externalSource: 'Data Set',
                        actions: '',
                    }
                }
            }
        });
    </script>
{% endblock %}