<html>
<head>
    <style>
        /* http://meyerweb.com/eric/tools/css/reset/
         * v2.0 | 20110126
         * License: none (public domain)
        */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
    <style>
        div {
            /*border: 1px solid black;*/
            /*position: fixed;*/
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
        }
        .hline {
            position: absolute;
            border-bottom: 1px solid black;
            height: 1px;
        }
        .vline {
            position: absolute;
            border-left: 1px solid black;
            width: 1px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Moms Typewriter Regular';
            src: url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.woff2') format('woff2'),
            url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.woff') format('woff'),
            url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/momstypewriterregular/momt___.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Bell Gothic Std Black';
            src: url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/bellgothicstd/BellGothicStd-Black.woff') format('woff'),
            url('{% if not isWebRequest %}http://krolla.local{% endif %}/font/bellgothicstd/BellGothicStd-Black.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <style>
        .form_header {
            position: absolute;
            font-size: 13pt;
            line-height: 0.5in;
            text-align: center;
            font-family: "Bell Gothic Std Black";
        }
        .field_header {
            position: absolute;
            font-size: 5pt;
            padding-top: 4px;
            padding-left: 4px;
            font-family: "Bell Gothic Std Black";
        }
        .field_data {
            position: absolute;
            font-size: 8pt;
            padding: 4px 6px;
            font-family: "Moms Typewriter Regular";
        }

        .stopThisCarAtData, .stopThisCarAt2Data {
            font-family: 'Kalam', cursive;
            font-size: 10pt;
        }
    </style>
    <style>
        @media print {
            .sf-toolbar {
                display: none !important;
            }
        }
    </style>
</head>
<body>
{% for formPage in 0..(forms|length / (page.pageRows * page.pageColumns))|round(0, 'floor') %}
    <div style="position:relative; width: 8.5in; height: 11in; padding: .25in .5in .25in .5in;">
        <div style="position: relative; width: 100%; height: 100%">
            {% for row in 0 .. page.pageRows-1 %}
                {% for column in 0 .. page.pageColumns-1 %}
                    {% if forms[formPage * (page.pageRows * page.pageColumns) + (column + row * page.pageColumns)] is defined %}
                        <div style="
                                top: {{ row / page.pageRows * 100 }}%;
                                left: {{ column / page.pageColumns * 100 }}%;
                                height: {{ 1 / page.pageRows * 100 }}%;
                                width: {{ 1 / page.pageColumns * 100 }}%;
                                position: absolute;
                                ">
                            {% include 'form/waybill/_item.html.twig' with { page: page, form: forms[formPage * (page.pageRows * page.pageColumns) + (column + row * page.pageColumns)] }%}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
</body>
</html>